<h3>Add a monkey!</h3>
<form action="/create" method="POST">
  <input type="text" name="species" placeholder="Species">
  <input type="text" name="image_url" placeholder="Image URL">
  <input type="text" name="description" placeholder="Description">
  <input type="text" name="cuteness_rating" placeholder="Cuteness Rating">
  <button type="submit">Add this monkey</button>
</form>
