<h1>MONKEYS</h1>

{{#each cebus}}
  <h3><a href="/{{this.id}}">{{this.species}}</a></h3>
  <p>{{this.description}}</p>
  <img class="monkeypic" src={{this.image_url}}>
{{/each}}

<p>
  <a href="/create">Add a monkey!</a>
</p>
