<!DOCTYPE html>
<html>
  <head>
    <title>{{title}}</title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <header><h1>Monkey Time</h1></header>
    <main>
      {{{body}}}
    </main>
    <footer>Monkey's by Kristie & Laney :)</footer>
  </body>
</html>
